{% extends "base.html" %}

{% block title %}Formulario de equipos{% endblock %}

{% block header %}Formulario de equipos{% endblock %}

{% block content %}
<h1>Gestión de Equipos</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.proveedor.label }} {{ form.proveedor(size=20) }}
        </div>
        <div>
            {{ form.marca.label }} {{ form.marca(size=20) }}
        </div>
        <div>
            {{ form.nserie.label }} {{ form.nserie(size=20) }}
        </div>
        <div>
            {{ form.licencia.label }} {{ form.licencia(size=20) }}
        </div>
        <div>
            {{ form.fecha_compra.label }} {{ form.fecha_compra() }}
        </div>
        <div>
            {{ form.esta_en_soporte.label }} {{ form.esta_en_soporte() }}
        </div>
        <div>
            {{ form.sitio_id.label }} {{ form.sitio_id() }}
        </div>
        <div>
            {{ form.contacto_id.label }} {{ form.contacto_id() }}
        </div>
        <div>
            {{ form.fecha_fin.label }} {{ form.fecha_fin() }}
        </div>
        <div>
            {{ form.renovacion.label }} {{ form.renovacion() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <h2>Lista de Equipos</h2>
    <ul>
        {% for equipo in equipos %}
            <li>{{ equipo.marca }} - {{ equipo.proveedor }} (Nº Serie: {{ equipo.nserie }})</li>
        {% endfor %}
    </ul>
{% endblock %}
