<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Bienvenido a la Página de Navegación</h1>

    <div class="dropdown">
        <button class="dropbtn">Navegar</button>
        <div class="dropdown-content">
            <a href="/">Inicio</a>
            <a href="/pagina1">Página 1</a>
            <a href="/pagina2">Página 2</a>
            <a href="/pagina3">Página 3</a>
            <a href="/pagina_base">Página extendida de la base</a>
        </div>
    </div>

</body>
</html>
